#banner {
  background-color: #719ea1;
  padding: 10px;
  color: white;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 25px;
  margin: 10px;
}
#banner img{
  width: 100%;
  height: 100%;
}
#banner div{
  margin-top: 5px;
  width: 100%;
}

#destaques div {
    padding: 10px;
  }
  
  #destaques h2{
  width: 100%;
  text-align: center;
  font-size: 30px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  margin-top: 10px;
  }

  #banner3 {
    text-align: center;
  }
  
  #banner3 img {
    margin-top: 30px;
    padding: 30px;
  }

  #mais-vendidos {
    margin-top: 40px;
    margin: 10px;
   }
   
   #mais-vendidos h2 {
   font-family: Arial;
   text-align: center;
   font-size: 30px;
   color: rgb(255, 255, 255);
   font-weight: 900;
   margin-bottom: 15px;
   }

   #Novidades h2 {
    font-family: Verdana;
    font-size: 35px;
    margin-left: 25px;
    font-weight: bold;
    margin-bottom: 50px;
    margin-top: 40px;
    color:#f5f5f5;
    text-decoration: underline;
  }

  #Lançamentos {
    text-align: center;
  }
  
  #Lançamentos h1 {
    font-family: Verdana;
    font-size: 25px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 30px;
  }
  
  #Lançamentos h5 {
    font-family: Verdana;
    font-size: 20px;
  }

  #midias-sociais {
    flex-direction: row;
    text-align: center;
    margin-top: 200px;
  }

.destaque-vendas {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 80px;
    justify-content: center;
  }
  
  .texto-centralizado {
    font-family: Arial;
    text-align: center;
    font-size: 25px;
    color: rgb(255, 255, 255);
    font-weight: bold;
  }

  .senai-card {
    width: 250px;
    border: 2px solid silver;
    border-radius: 5px;
    margin-top: 18px;
    background: solid rgb(201, 195, 195);
  }
  .senai-card img {
    width: 100%;
    border-radius: 4px 4px 0px 0px;
  }
  .senai-card div {
    padding: 10px;
  }

  .carousel-inner {
    width: 100%;
    border-radius: 10px;
    border: 2px solid rgb(255, 255, 255);
  }

  .texto-novidades{
    text-align: center;
  }

  .Novidades {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 380px;
    justify-content: center;
  }
  
  .fifa-22 {
    margin-bottom: 100px;
    border: 2px solid rgb(179, 177, 177);
    border-radius: 5px;
  }
  
  .Battlefield-2042 {
    margin-top: 8px;
    margin-bottom: 80px;
    border: 2px solid rgb(148, 146, 146);
    border-radius: 5px;
  }
  
  .Sekiro {
    margin-bottom: 10%;
    border: 2px solid rgb(148, 146, 146);
    border-radius: 5px;
  }
  
  .Cyberpunk {
    margin-top: 5px;
    margin-bottom: 130px;
    border: 2px solid rgb(148, 146, 146);
    border-radius: 5px;
  }
  
  .NBA-2K22 {
    margin-bottom: 100px;
    border: 2px solid rgb(148, 146, 146);
    border-radius: 5px; 
  }
  
  .Hades {
    margin-bottom: 100px;
    border: 2px solid rgb(148, 146, 146);
    border-radius: 5px; 
  }

  .Video {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 380px;
    justify-content: center;  
  }
  
  .Video-2 {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 380px;
    margin-top: 50px;
  }
  
  .redes-sociais h2 { 
    margin-bottom: 50px;
  }

  .redes-sociais img {
    width: 9%;
    border-radius: 10px;
    box-shadow: 0 14px 20px 0 rgba(17, 0, 255, 0.2), 0 10px 20px 0 rgba(0, 17, 255, 0.19);
    margin-left: 30px;
  }

  @media screen and (min-width: 768px) {

    #banner3 img {
      width: 90%;
      height: 480px;
    }

    .fifa-22 {
        width: 304px;
        margin-bottom: 210px;
      }
      
      .Battlefield-2042 {
        margin-bottom: 201px;
      }
      
      .NBA-2K22 {
        margin-bottom: 199px;
      }
      
      .Hades {
        margin-bottom: 200px;
      }
      
  
 }