<section id="banner">
    <img src="assets/img/game-zone.jpg" alt="Imagem Game Zone">
    <div>
      <h2>Venha conhecer nosso diferencial</h2>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nemo voluptatem, excepturi consequuntur suscipit
        totam culpa sapiente necessitatibus, quaerat delectus modi veniam alias quo molestiae ratione id beatae facere
        quasi magni!</p>
      <a href="#">Saiba mais...</a>
    </div>
  </section>

<section id="destaques">
    <h2 class="vendas">Produtos em Destaques</h2>
    <div class="destaque-vendas">

        <div class="senai-card">
            <img src="assets/img/Playstation 5.jpg" alt="Joystick Playstation">
            <div>
                <h4 class="texto-centralizado">Controle Dualsense Playstation 5 - PS5</h4>
                <h4 class="texto-centralizado">R$439.49</h4>
            </div>
        </div>

        <div class="senai-card">
            <img src="assets/img/Console Playstation 5.jpg" alt="Console Playstation 5">
            <div>
                <h4 class="texto-centralizado">Console PlayStation®5</h4>
                <h4 class="texto-centralizado">R$4.399,90</h4>
            </div>
        </div>

        <div class="senai-card">
            <img src="assets/img/Notebook.jpg" alt="Notebook Gamer">
            <div>
                <h4 class="texto-centralizado">Notebook Gamer Acer Nitro 5 AN515-54-58CL Intel - Core i5 8GB 1TB 128GB
                    SSD
                    15,6” Nvidia GTX 1650</h4>
                <h4 class="texto-centralizado">R$5.309,10</h4>
            </div>
        </div>
        <div class="senai-card">
            <img src="assets/img/Red Dead Redemption 2.jpg" alt="Red Dead Redemption 2">
            <div>
                <h4 class="texto-centralizado">Red Dead Redemption 2 - Xbox One</h4>
                <h4 class="texto-centralizado">R$139,89</h4>
            </div>
        </div>
    </div>
</section>

<section id="banner3">
    <img class="img-fluid" src="assets/img/Banner 3.jpg" alt="Banner3">
</section>

<section id="mais-vendidos">
    <h2 class="texto-centralizado">Jogos mais vendidos da semana</h2>

    <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="assets/img/The Last of US 2.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="assets/img/Kena Bridge of Spirits.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="assets/img/Resident Evil Village.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="assets/img/Forza Horizon 5.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="assets/img/Assasins Creed Valhalla.jpg" class="d-block w-100" alt="...">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</section>

<section id="Novidades">
    <h2 class="text-novidades">Novidades</h2>
    <div class="Novidades">

        <div class="fifa-22">
            <img width="300" src="assets/img/Fifa 22.png" alt="Fifa 22">
            <div>
                <h4 class="texto-centralizado">Fifa 22 - PS5</h4>
                <h4 class="texto-centralizado">R$299,90</h4>
            </div>
        </div>

        <div class="Battlefield-2042">
            <img width="303" src="assets/img/Battlefield 2042.png" alt="Battlefield 2042">
            <div>
                <h4 class="texto-centralizado">Battlefield 2042 - PS5</h4>
                <h4 class="texto-centralizado">R$ 249,90</h4>
            </div>
        </div>
        <div class="Sekiro">
            <img width="322" src="assets/img/Sekiro.jpg" alt="Sekiro">
            <div>
                <h4 class="texto-centralizado">Sekiro: Shadows Die Twice</h4>
                <h4 class="texto-centralizado">R$ 199,90</h4>
            </div>
        </div>
        <div class="Cyberpunk">
            <img width="300" src="assets/img/Cyberpunk.png" alt="Cyberpunk 2077">
            <div>
                <h4 class="texto-centralizado">Cyberpunk 2077 - Xbox</h4>
                <h4 class="texto-centralizado">R$ 249,90</h4>
            </div>
        </div>

        <div class="NBA-2K22">
            <img width="310" src="assets/img/NBA 2K22.png" alt="NBA 2K22">
            <div>
                <h4 class="texto-centralizado">NBA 2K22 - Xbox</h4>
                <h4 class="texto-centralizado">R$ 299,99</h4>
            </div>
        </div>

        <div class="Hades">
            <img width="300" src="assets/img/Hades.png" alt="Hades">
            <div>
                <h4 class="texto-centralizado">Hades - Xbox</h4>
                <h4 class="texto-centralizado">R$ 144,99</h4>
            </div>
        </div>

                <section id="Lançamentos">
                    <h1 class="texto-centralizado">Próximos Lançamentos 2022</h1>
                    <div class="Pré-venda">

                        <div class="Video">
                            <video width="70%" poster="assets/img/elden ring.jpg" controls>
                                <source src="assets/img/ELDEN RING - Official Gameplay Reveal.mp4" type="video/mp4">
                            </video>
                            <div>
                                <h5 class="texto-centralizado">Elden ring - Lançamento 21/01/2022</h5>
                            </div>
                        </div>

                        <div class="Video-2">
                            <video width="70%" poster="assets/img/horizon forbidden west.jpg" controls>
                                <source src="assets/img/Horizon Forbidden West - Announcement Trailer.mp4" type="video/mp4">
                            </video>
                            <div>
                                <h5 class="texto-centralizado">Horizon Forbidden West Lançamento 18/02/2022</h5>
                            </div>
                        </div>

                        <div id="midias-sociais" class="redes-sociais">
                            <h2 class="texto-centralizado">Siga-nos nas redes sociais</h2>
                            <a href="#"><img src="assets/img/Logo Twitter.jfif" alt="Twitter da Game Mania"></a>
                            <a href="#"><img src="assets/img/Logo Facebook.jfif" alt="Facebook da Game Mania"></a>
                            <a href="#"><img src="assets/img/logo Instagram.jfif" alt="Instagram da Game Mania"></a>
                            <a href="#"><img src="assets/img/Youtube.jfif" alt="YouTube da Game Mania"></a>
                          </div>