<footer>
<div id="img-rodape">
    <img class="img-logo" src="assets/img/Logotipo 1.png" alt="Logotipo da Game Mania">
  </div>
  <div class="emails">
    <p>E-mail:</p>
    <p>aaa@bbb.ccc.dd</p>
  </div>
  <div class="enderecos">
    <p>Endereço:</p>
    <p>Rua asasda asdasdads,111</p>
    <p>Bauru - SP - CEP: 1111111</p>
  </div>
  <div class="telefones">
    <p>Telefone:</p>
    <p>(14) 1234566555</p>
    <p>(14) 99999-9999</p>
  </div>
  <nav id="menu-rodape">
    <ul>
      <li><a href="jogos.html">Jogos</a></li>
      <li><a href="#">Hardware</a></li>
      <li><a href="#">Celulares</a></li>
      <li><a href="#">PC Gamer</a></li>
      <li><a href="#">Contato</a></li>
      <li><a href="#">Login</a></li>
    </ul>
  </nav>
</footer>